.elementslist {
  background-color: #0e0e0e;
  color: white;

}

.elementsList {
  /* background-color: #0e0e0e; */
  padding: 20px 80px 20px 40px;
}

.topSellers {

}

.newReleasess {

}

.upcoming {

}
.specials {

}
.virtualReality {

}
.controllerFriendly {

}
.freetoPlay {

}
.earlyAccess {

}
.action {

}
.adventure {

}
.casual {

}
.indie {

}
.massivelyMultiplayer {

}
.racing {

}
.rpg {

}
.simulation {

}
.sports {

}
.strategy {

}


h2 {
  text-align: center;
  padding-top: 30px;
}

.box_element {
  background-color: grey;
  border-radius: 50px;
  box-shadow: 5px 10px 2px rgb(213,236,32);
  margin: 5px 20px 5px 20px;
  padding: 50px 10px 10px 50px;
}

.platforms {
  padding-top: 20px;
}
.platform {

  margin-left: 10px;
  width: 15px;
}

.poster {

}
