
input[type ="text" ]
{
   color: lightblue;
   background-color: black;
   width:300px;
   height:30px

}
::placeholder
{
   text-align: center;
   color:  rgba(34, 215, 247, 0.911);
   font-family: 'Times New Roman', Times, serif;
}

.field
{
   border-color: yellow;
   color:lightblue;
}
   

.containerregister
{
 
  background-image: url(./b566af8bab8557bafb92a77717ab70f7.gif);
  background-size: 100% 100%;
  min-width: 100%;
  min-height:100%;
  background-position: center;

  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(247, 244, 106, 0.795), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
 }

.card1
{
  
   
   text-align: center;
   min-width: 345;
   border-radius:10px;
   padding-top: 30px;
   padding-right:10px;
   padding-bottom: 20px;
   margin: 2%;
   width:450px;
   position: relative;
   font-family: 'Times New Roman', Times, serif;
   color:  rgba(34, 215, 247, 0.911);
   background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);  
   background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e); 
   box-shadow: 0 4px 8px 0 rgba(248, 235, 122, 0.911), 0 6px 20px 0 rgba(25, 197, 20, 0.89);
      
  
}
.white
{
   font-family: 'Times New Roman', Times, serif;
   color: white;
}

.button
{
   border: none;
   color:yellow;
   height: 200 px;
   padding-top: 10px;
   padding-bottom: 10px;
   justify-content: center;
   width: 300px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 30px;
   font-weight:bold;
   font-family:"Times New Roman";
   margin: 1px 1px;
   cursor: pointer;
   transition-duration:0.4s;
   align-self: center;
}
.button1
{
   background-color:transparent;
   color: yellow;
   border: 2px solid rgb(236, 78, 16);
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.button1:hover
{
    background-color:transparent;
    color:rgb(240, 117, 80);
    border: 2px solid rgb(15, 6, 48);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
