
.red
{
    color: red;
    font-size: 15px;
}
.forgot
{
    
    font-size: 15px;
    color: rgba(34, 215, 247, 0.911);
    font-family: 'Times New Roman', Times, serif;
    margin-left:185px;
}
.background
{
   
  background-color: black   ;
  background-size: 100% 100%;
  min-width: 100%;
  min-height:100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
 
  

}

.reset
{
    background-color: rgba(34, 215, 247, 0.911);
    margin-left:68px;
    margin-bottom: 10px;;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.submit
{
    background-color: rgba(34, 215, 247, 0.911);
    margin-left:20px;
    align-content: center;
    
}

.input
{
    
    text-align: center;
    color: rgba(34, 215, 247, 0.911);
    background-color: black;
    width:300px;
    height:30px
    
 }
 ::placeholder
 {
     text-align: center;
     color:  rgba(34, 215, 247, 0.911);
     font-family: 'Times New Roman', Times, serif;
     
 }
.style
{   
    font-size: 15px;
    color: rgba(34, 215, 247, 0.911);
    font-family: 'Times New Roman', Times, serif;
}

.ui.card
{
    display: flex;
   font-family: 'Times New Roman', Times, serif;
   top:250px;
   
  
   height: 110%;
   padding-top:10px;
   width:27%;
   margin-left: 35%;
   padding-right: 50px;
   color: rgba(34, 215, 247, 0.911);
   background: #000428; 
   background: -webkit-linear-gradient(to right, #004e92, #000428); 
   background: linear-gradient(to right, #004e92, #000428);
    
   box-shadow: 2px 0px 0px 2px rgba(34, 215, 247, 0.911), -2px 0px 0px 2px rgba(48, 162, 255,0.922);
   
} 
