
.red
{
    color: red;
    font-size: 15px;
}
.forgot
{
    
    font-size: 15px;
    color: rgba(34, 215, 247, 0.911);
    font-family: 'Times New Roman', Times, serif;
    margin-left:185px;
}
.lgbackground
{
  
  background:url(./huhu.gif) no-repeat scroll 0% 0%;
  background-size: 100% 100%;
  min-width: 100%;
  min-height:100%;
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
 
  

}

.reset
{
    background-color: rgba(34, 215, 247, 0.911);
    margin-left:68px;
    margin-bottom: 10px;;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    
}
.submit
{
    background-color: rgba(34, 215, 247, 0.911);
    margin-left:150px;
    align-content: center;
    
}

.input
{
    
    text-align: center;
    color: rgba(34, 215, 247, 0.911);
    background-color: black;
    width:300px;
    height:30px;
    font-size: 15px;
 }
 ::placeholder
 {
     text-align: center;
     color:  rgba(34, 215, 247, 0.911);
     font-family: 'Times New Roman', Times, serif;
   
 }
.style
{   
    font-size: 15px;
    color: rgba(34, 215, 247, 0.911);
    font-family: 'Times New Roman', Times, serif;
}

.ui.card
{
    outline: 5px double #0D001A;
    outline-offset: 12px;
    display: flex;
   font-family: 'Times New Roman', Times, serif;
   top:300px;
   
   min-width: 300;
    border-radius: 10px;
    
    padding-bottom: 2px;
    margin: 10%;
   height: 1100%;
   padding-top:10px;
   width:30%;
   margin-left: 5%;
   padding-right: 2px;
    padding-left: 20px;
   color: rgba(82, 2, 227, 0.911);
	background: #CC00AA;
	background: -moz-linear-gradient(left, #CC00AA 0%, #0D001A 68%, #4D004D 100%);
	background: -webkit-linear-gradient(left, #CC00AA 0%, #0D001A 68%, #4D004D 100%);
	background: linear-gradient(to right, #CC00AA 0%, #0D001A 68%, #4D004D 100%);

   box-shadow: 2px 0px 0px 2px rgba(34, 215, 247, 0.911), -2px 0px 0px 2px rgba(48, 162, 255,0.922);
   
} 
.ui.search
{
	font-size: 15px;
	color: rgba(202, 225, 247, 0.911);
}
